[Unit]
Description=hsd
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
Environment="HSD_NETWORK=main"
Environment="HSD_LOG_LEVEL=debug"
Environment="HSD_NO_WALLET=true"
Environment="HSD_PREFIX=/home/akaia/core/service/hns/.hsd"
ExecStart="/bin/env node /home/akaia/core/service/hns/bin/hsd --bip37 --listen --max-inbound 100 --prune --rs-host 0.0.0.0 --rs-port 53"

[Install]
WantedBy=multi-user.target
